<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заголовок страницы</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>{% include "mainApp/includes/some_html.html" %}</h1>
            {% block content %}
            {% endblock %}
            <p>
                <a href="/" class="btn btn-success btn-lg">Главная Страница</a>
                <a href="/news" class="btn btn-primary btn-lg">Новости &raquo;</a>
                <a href="/contact" class="btn btn-info btn-lg">Контакты &raquo;</a>
            </p>
        </div>
    </div>
    <div class="container">
        <img src="{% static 'mainApp/image/Mers.png' %}" class="img-thumbnail">
        <hr>
        &copy; Все права защищены 2021
    </div>
</body>
</html>